@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './variables.scss';
@import 'qleditor';
@import './modal.scss';

body{
	background: $primary-light;
	font-size: $font-base-size;
	font-family: Poppins, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	* * {
		min-width: auto;
		max-width: 100%;
	}
}

.container-fluid .row{
	margin: 0;
	padding: 0;
}

a:hover {
	color: $link-blue !important;
	text-decoration: none;
	cursor: pointer;
}

button{
	display: inline-block;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	margin: 0.25rem 0.5rem;
	padding: 0.5rem 2.5rem;
	border: 1px solid transparent;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.primary-button{
	background: $gradient;
	color: $white;
}

.white-button{
	color: $primary;
	background: $white;
}

.router-link-exact-active.nav-link {
	color: $primary !important;
}

.floating-button{
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $accent;
	color: $white;
	border-radius: 10rem;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	z-index: 2;
	font-size: 1.25rem;
	height: 3.5rem;
	width: 3.5rem;
}

.scrolling-nav{
	display: flex;
	flex-wrap: nowrap !important;
	padding: 0.5rem 0;
	overflow-x: auto;
	-ms-overflow-style: none;
	font-size: 0.95rem;
	&::-webkit-scrollbar{
		display: none;
	}
	.router-link-exact-active{
		color: $white;
	}
	.nav-link{
		padding: 0.5rem;
		color: $text-black;
		white-space: nowrap;
	}
}

.accent-background{
	background: $accent;
}

a{
	cursor: pointer;
	span{
		cursor: pointer;
	}
}

.txt-shadow{
	text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
}

.white{
	background: $white;
	border: 1px solid $white;
	border-radius: 0.5rem;
}

img.profile-image{
	border-radius: 10rem;
	border: 1.5px solid rgba(0,0,0,0.1);
	width: 80px;
	height: 80px;
	margin-right: 0.75rem;
}

.cursor-pointer{
	cursor: pointer;
}
