$primary-dark: #FF8A00;
$primary-gold: #FFC000;
$primary-light: #FFF7DF;
$accent: #22DD77;
$white: #FFFFFF;
$text-black: #343A40;
$link-blue: dodgerblue;
$blackTransparent: #00000088;

$gradient: linear-gradient(to right, $primary-dark, $primary-gold);
$gradient-reversed: linear-gradient(to left, $primary-dark, $primary-gold);

$font-base-size: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
