$primary-dark: #FF8A00;
$primary: #FFC000;
$primary-light: #FFF7DF;
$accent: #22DD77;
$white: #FFFFFF;
$text-black: #343A40;
$link-blue: dodgerblue;

$gradient: linear-gradient(to right, $primary-dark, $primary);
$gradient-reversed: linear-gradient(to left, $primary-dark, $primary);

$font-base-size: 16px;
