$primary-dark: #FF8A00;
$primary-gold: #FFC000;
$primary-light: #FEE7C3;
$accent: #3c925a;
$white: #FFFFFF;
$text-black: #131313;
$link-blue: #007BFF;
$blackTransparent: #000000AA;

$gradient: linear-gradient(to right, $primary-dark, $primary-gold);
$gradient-reversed: linear-gradient(to left, $primary-dark, $primary-gold);

$font-base-size: 16px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$theme-colors: (
	'gold': $primary-gold,
	'gold-light': $primary-light,
	'gold-dark': $primary-dark,
	'accent': $accent
);

$spacers: (
	5: 2rem,
	6: 2.5rem,
	7: 3rem,
	8: 4rem
);

$enable-gradients: true;
$enable-responsive-font-sizes: true;
