rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /blog/{id} {
		    allow read: if true;
		    allow write: if isAdmin();
		}

		match /chats/{path}/chats/{id} {
			allow read, update: if hasAccessToChat(path);
			allow create: if isMine(request.resource.data.from);
			allow delete: if isMine(resource.data.from);
		}

		match /courses/{id} {
			allow read: if isAuthenticated();
			allow write: if isAdmin();
		}

		match /courses/{course}/discussions/{id} {
			allow read, create: if isAuthenticated();
			allow update: if isMine(resource.data.userId);
			allow delete: if isAdmin();
		}

		match /errors/types/emails/{id} {
	        allow read, write: if isAdmin();
	    }

		match /notes/{id} {
			allow read: if isAuthenticated();
			allow write: if isAdmin();
		}

		match /posts/{id} {
			allow read, create: if isAuthenticated();
            allow update, delete: if isMine(resource.data.userId)
		}

		match /posts/{post}/replies/{id} {
	        allow read, write: if isAuthenticated();
	    }

	    match /posts/{post}/replies/{id}/votes/votes {
	        allow read, write: if isAuthenticated();
	    }

		match /sessions/{id} {
			allow read, create: if isAuthenticated();
			allow update: if hasAccessToSession(id);
			allow delete: if isAdmin();
		}

		match /sessions/{session}/chats/{id} {
			allow read, create, update: if hasAccessToSession(session);
			allow delete: if isAdmin();
		}

		match /subjects/{id} {
			allow read: if true;
			allow write: if isAdmin();
		}

		match /subscriptions/{id} {
            allow read: if true;
            allow write: if isAdmin();
        }

		match /tests/tutors/questions/{id} {
	        allow read, write: if isAdmin();
	    }

		match /tests/tutors/tests/{id} {
			allow read: if isMine(resource.data.user);
			allow create, update, delete: if isAdmin();
		}

		match /users/{id} {
			allow read, create: if isAuthenticated();
			allow update: if isMine(id);
			allow delete: if isAdmin();
		}

		match /users/{user}/transactions/{id} {
			allow read, create, update: if isMine(user);
			allow delete: if isAdmin();
		}

		match /users/{user}/paymentMethods/{id} {
			allow read, write: if isMine(user);
		}

		match /{document=**} {
			allow read, write: if false;
		}

		function isAuthenticated() {
			return true//request.auth != null;
		}

		function isAdmin() {
			return true//request.auth.token.isAdmin == true;
		}

		function isMine(id) {
			return true//request.auth.uid == id;
		}

		function hasAccessToSession(session) {
			let sessionData = get(/databases/$(database)/documents/sessions/$(session)).data;
			return true//request.auth.uid == sessionData.tutor || request.auth.uid == sessionData.student;
		}

		function hasAccessToChat(path) {
			return true//request.auth.uid in path.split('_');
		}
	}
}