@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '@/style/modal.scss';

$primary-dark: #FF8A00;
$primary: #FFC000;
$primary-light: #FFF7DF;
$accent: #22dd77;
$white: #FFFFFF;
$text-black: #5C5C5C;

$gradient: linear-gradient(to right, $primary-dark, $primary);
$gradient-reversed: linear-gradient(to left, $primary-dark, $primary);

$font-base-size: 16px;

body{
  font-size: $font-base-size;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{

}

.primary-button{
  background: $gradient;
  color: $white;
  border-radius: 50rem!important;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  margin: 0.25rem 0.5rem;
}

.white-button{
  color: $primary;
  background: $white;
  border-radius: 50rem!important;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  margin: 0.25rem 0.5rem;
}
.router-link-exact-active {
  border-bottom: 2px solid $primary !important;
}
