@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '@/style/modal.scss';

$primary-dark: #FF8A00;
$primary: #FFC000;
$primary-light: #FFF7DF;
$accent: #22DD77;
$white: #FFFFFF;
$text-black: #5C5C5C;

$gradient: linear-gradient(to right, $primary-dark, $primary);
$gradient-reversed: linear-gradient(to left, $primary-dark, $primary);

$font-base-size: 16px;

body{
  font-size: $font-base-size;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.5rem 2.5rem;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.primary-button{
  background: $gradient;
  color: $white;
  border-radius: 50rem!important;
  margin: 0.25rem 0.5rem;
}

.white-button{
  color: $primary;
  background: $white;
  border-radius: 50rem!important;
  margin: 0.25rem 0.5rem;
}
.router-link-exact-active {
  border-bottom: 2px solid $primary !important;
}
