.modal-background{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	z-index: 4;
	background: #777777DD;
}

.modal-background .modal-inner{
	width: 90%;
	max-width: 800px;
	padding: 1.5rem;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0 4px 8px #000000;
	z-index: 4;
	overflow-y: auto;
}

@media screen and (max-width: 767px){
	.modal-background{
		padding: 0;
	}
	.modal-background .modal-inner{
		width: 100%;
	}
}
@media screen and (max-height: 650px){
	.modal-background{
		padding: 0;
	}
	.modal-background .modal-inner{
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
}